@font-face {
   font-family: "Nieve";
   src: url("../fonts/nieve.ttf");
}
@font-face {
   font-family: "Manuscrita";
   src: url("../fonts/manus.ttf");
}
@font-face {
   font-family: "Letras";
   src: url("../fonts/letras.ttf");
}
body{
  background:#8d4343;
  margin:0;
  height:100%;
  width: 100%;
  overflow:hidden;
}
a{
  text-decoration:none;
}
canvas{
  position:absolute;
  top:0;
  left:0;
  z-index:1;
}
.ground{
  background:#FFF;
  height:5%;
  width:100%;
  position:absolute;
  bottom:0px;
  z-index:1;
  border-radius:100% 100% 0 0;
  font-size:10px;
  color:#666;
  display:table;
}
.ground p{
  display: table-cell;
  vertical-align: middle;
  text-align:center;
  width:100%;
}
.message{
  font-family: 'Manuscrita';
  font-size: 400%;
  text-align:center;
  color:#FFF;
  margin:40px auto;
  height: 20%
}
.texto{
  height:20%;width:100%;
  position:absolute;
  z-index:1;
  display:table;
}
.texto div{
  display: table-cell;
  vertical-align: middle;
  text-align:center;
  width:100%;
}
.trasn{
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.letras{
  font-family: 'letras';
  font-size: 150%;
}
